<div id="box-cart-shop">
  <h2 class="title-carrito-shop">Carrito de Compras</h2>
  <div class="box-items-shop">
    <article>
      <figure>
        <img src="../image/campera-jean.webp" alt="jean">
      </figure>
    </article>
    <button class="open-pasarela">comprar</button>
  </div>
  <p>En esta seccion se encuentran todos los productos que agrego a su carrito, puede comprarlos de manera
    individual, o puede comprarlos todos en un solo pago, haciendo click en "comprar todos los productos",
    tambien puede eliminar los productos que no desee, ante cualquier problema que tenga vaya a <a href="/contactanos">CONTACTANOS</a>.
  </p>
  <button class="close-cart-shop">✖</button>
</div>