@import 'mixin';
section {
  margin-bottom: 25em;
  @include box-titulo('title-contactanos', 'Commissioner');
  .box-contactanos {
    background-image: linear-gradient(210deg,steelblue, dodgerblue);
    padding-bottom: 3em;
    border-bottom: .4em groove white;
    p {
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.3em;
      margin-top: 1em;
    }
    ul {
      color: white;
      font-family: 'Open Sans', sans-serif;
      list-style-image: url('../image/Arrow-right-icon.png');
      margin-top: 2em;
      padding-bottom: 1em;
      padding-left: 1.5em;
      li {
        position: relative;
        margin-bottom: 1.5em;
        font-size: 1.3em;
        .icon-gmail {
          width: 2.5em;
          height: 2.5em;
          position: absolute;
          top: -0.7em;
          margin-left: 4%;
        }
        .icon-whatsapp {
          width: 2.5em;
          height: 2.5em;
          border-radius: 50%;
          position: absolute;
          top: -0.5em;
          margin-left: 4%;
        }
        .icon-facebook {
          width: 2.5em;
          height: 2.5em;
          position: absolute;
          top: -0.7em;
          margin-left: 4%;
        }
      }
    }
    span {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.3em;
      color: white;
      .box-salto {
        display: block;
      }
      @include button-effect('item-gmail','content-gmail', 14em, red, red, white);
      @include button-effect('item-whatsapp', 'content-whatsapp', 12em, lime, darkgreen, white);
      @include button-effect('item-facebook', 'content-facebook', 12em, dodgerblue, blue, white);
    }
  }
  .box-service-client {
    background-image: linear-gradient(10deg,dodgerblue, steelblue);
    padding-bottom: .5em;
    position: relative;
    &::before {
      content: " ";
      display: block;
      position: absolute;
      width: 100%;
      height: 35%;
      bottom: -6em;
      border-bottom: .4em ridge white;
      border-bottom-right-radius: 1em;
      transform: skewY(-20deg);
      background-color: dodgerblue;
      z-index: -1;
    }
    @include box-titulo('title-client', 'Commissioner');
    p {
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.3em;
      margin-top: 1em;
      margin-bottom: 1.5em;
    }
    span {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.3em;
      color: white;
      .box-salto {
        display: block;
        color: firebrick;
      }
      @include button-effect('item-asistencia', 'content-asistencia', 15em, rgb(253, 46, 46), red, white);
      @include button-effect('item-number', 'content-number', 12em, dodgerblue, lime, black);
    }
  }
}