header {
  background-image: url('../image/fondo-jean.jpg');
  background-size: cover;
  background-position: center;
  border-bottom: 0.3em groove white;
  height: 10em;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 4em;
    color: darkred;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0.04em outset gold;
    border-top-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    transform: rotate(-10deg);
  }
}