* {
  box-sizing: border-box;
  margin: 0;
}

/* BODY */
body {
  background-color: #556;
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

/* HEADER */
header {
  background-image: url("../image/fondo-jean.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 0.3em groove white;
  height: 10em;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 4em;
  color: darkred;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.04em outset gold;
  border-top-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  transform: rotate(-10deg);
}

/* BARRA */
.barra-estado {
  border-bottom: 0.3em groove white;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), linear-gradient(darkgray, white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Commissioner", sans-serif;
}
.barra-estado .barra-product {
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.25);
  border-left: 0.3em solid dodgerblue;
  border-radius: 0.3em;
  box-shadow: 0 0 2em 0.01em white;
  padding: 0.2em;
}
.barra-estado .barra-product .barra-number {
  font-size: 1.13em;
  background-color: dodgerblue;
  border: 0.01em solid white;
  border-radius: 0.3em;
  color: white;
  padding: 0.2em;
}
.barra-estado button {
  height: 6em;
  width: 6em;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(-50deg, dodgerblue, blue);
  border: 0.3em outset cyan;
  border-radius: 50%;
  outline: none;
}
.barra-estado button .icon-state-cart {
  width: 5em;
  height: 5em;
  transform: translate(-0.5em, 0.3em);
}

/* MENU */
/* SECTION TITULO*/
/* MENU BUTTONS */
/* SECTION CONTENIDO IMAGE */
/* SECTION CONTENIDO CATEGORIA */
nav {
  border: 0.1em groove white;
  background: dodgerblue;
  border-radius: 50%;
  font-size: 2.9em;
  line-height: 1.3em;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0.02em;
  z-index: 2;
}

#model_box {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(30deg, rgba(0, 0, 255, 0.6), rgba(173, 216, 230, 0.6), rgba(0, 0, 255, 0.6));
  font-family: "Commissioner", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}
#model_box .model-logo {
  height: 9em;
  width: 100%;
  border: 0.01em solid white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  overflow: hidden;
}
#model_box .model-logo .icon-logo {
  width: 100%;
  background: linear-gradient(rgba(255, 255, 0, 0.9), rgba(255, 166, 0, 0.9));
}
#model_box .model-logo .icon-logo .svg_one {
  font-size: 8em;
  left: 50%;
  transform: translate(43%, 65%);
}
#model_box .model-logo .icon-logo .svg_two {
  font-size: 1em;
  transform: translate(46%, 85%);
}
#model_box .model-menu {
  width: 100%;
}
#model_box .model-menu a {
  display: block;
  width: 100%;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  color: white;
  font-size: 1.9em;
  text-align: center;
  text-decoration: none;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#model_box .model-menu a:nth-child(1) {
  position: relative;
  height: 2em;
  border-top: none;
  border-bottom: 0.16em solid #ffff00;
}
#model_box .model-menu a:nth-child(1):active {
  border-color: yellow;
}
#model_box .model-menu a:nth-child(1):active .icon-inicio {
  fill: yellow;
}
#model_box .model-menu a:nth-child(1) .icon-inicio {
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  fill: #ffff00;
  background: linear-gradient(rgba(128, 128, 128, 0.1), rgba(128, 128, 128, 0.1)), linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  border-radius: 0.3em;
  transform: translate(0, -1em);
}
#model_box .model-menu a:nth-child(2) {
  position: relative;
  height: 2em;
  border-top: none;
  border-bottom: 0.16em solid #00ffff;
}
#model_box .model-menu a:nth-child(2):active {
  border-color: yellow;
}
#model_box .model-menu a:nth-child(2):active .icon-productos {
  fill: yellow;
}
#model_box .model-menu a:nth-child(2) .icon-productos {
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  fill: #1e90ff;
  background: linear-gradient(rgba(128, 128, 128, 0.1), rgba(128, 128, 128, 0.1)), linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  border-radius: 0.3em;
  transform: translate(0, -1em);
}
#model_box .model-menu a:nth-child(3) {
  position: relative;
  height: 2em;
  border-top: none;
  border-bottom: 0.16em solid #00ffff;
}
#model_box .model-menu a:nth-child(3):active {
  border-color: yellow;
}
#model_box .model-menu a:nth-child(3):active .icon-contactanos {
  fill: yellow;
}
#model_box .model-menu a:nth-child(3) .icon-contactanos {
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  fill: #1e90ff;
  background: linear-gradient(rgba(128, 128, 128, 0.1), rgba(128, 128, 128, 0.1)), linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  border-radius: 0.3em;
  transform: translate(0, -1em);
}

/* CONTACTANOS */
/* SECTION TITULO*/
/* MENU BUTTONS */
/* SECTION CONTENIDO IMAGE */
/* SECTION CONTENIDO CATEGORIA */
section {
  margin-bottom: 25em;
}
section .title-contactanos {
  background-image: linear-gradient(3.5deg, navy, royalblue, skyblue);
  font-size: 2em;
  font-family: Commissioner, sans-serif;
  text-align: center;
  line-height: 1.5em;
  color: white;
  text-shadow: 0.03em 0.03em navy, -0.03em 0.03em navy, 0.03em -0.03em navy, -0.03em -0.03em navy;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-bottom: 0.05em solid white;
}
section .box-contactanos {
  background-image: linear-gradient(210deg, steelblue, dodgerblue);
  padding-bottom: 3em;
  border-bottom: 0.4em groove white;
}
section .box-contactanos p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  margin-top: 1em;
}
section .box-contactanos ul {
  color: white;
  font-family: "Open Sans", sans-serif;
  list-style-image: url("../image/Arrow-right-icon.png");
  margin-top: 2em;
  padding-bottom: 1em;
  padding-left: 1.5em;
}
section .box-contactanos ul li {
  position: relative;
  margin-bottom: 1.5em;
  font-size: 1.3em;
}
section .box-contactanos ul li .icon-gmail {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  top: -0.7em;
  margin-left: 4%;
}
section .box-contactanos ul li .icon-whatsapp {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: absolute;
  top: -0.5em;
  margin-left: 4%;
}
section .box-contactanos ul li .icon-facebook {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  top: -0.7em;
  margin-left: 4%;
}
section .box-contactanos span {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  color: white;
}
section .box-contactanos span .box-salto {
  display: block;
}
section .box-contactanos span .item-gmail {
  text-decoration: none;
  font-size: 0.9em;
  border: 0.1em solid black;
  width: 14em;
  margin-left: 0.3em;
  margin-top: 0.3em;
  display: inline-block;
  background: linear-gradient(rgba(117, 101, 101, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(-10deg, red, red);
  position: relative;
  margin-bottom: 0.7em;
  border-radius: 0.6em;
}
section .box-contactanos span .item-gmail .content-gmail {
  display: block;
  transform: rotateY(360deg);
  color: white;
  text-align: center;
  font-family: "Commissioner", sans-serif;
}
section .box-contactanos span .item-gmail::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0.2em 0 black;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.6em;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  top: -0.2em;
  left: -0.2em;
}
section .box-contactanos span .item-gmail:active .content-gmail {
  color: red;
}
section .box-contactanos span .item-whatsapp {
  text-decoration: none;
  font-size: 0.9em;
  border: 0.1em solid black;
  width: 12em;
  margin-left: 0.3em;
  margin-top: 0.3em;
  display: inline-block;
  background: linear-gradient(rgba(117, 101, 101, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(-10deg, lime, darkgreen);
  position: relative;
  margin-bottom: 0.7em;
  border-radius: 0.6em;
}
section .box-contactanos span .item-whatsapp .content-whatsapp {
  display: block;
  transform: rotateY(360deg);
  color: white;
  text-align: center;
  font-family: "Commissioner", sans-serif;
}
section .box-contactanos span .item-whatsapp::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0.2em 0 black;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.6em;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  top: -0.2em;
  left: -0.2em;
}
section .box-contactanos span .item-whatsapp:active .content-whatsapp {
  color: lime;
}
section .box-contactanos span .item-facebook {
  text-decoration: none;
  font-size: 0.9em;
  border: 0.1em solid black;
  width: 12em;
  margin-left: 0.3em;
  margin-top: 0.3em;
  display: inline-block;
  background: linear-gradient(rgba(117, 101, 101, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(-10deg, dodgerblue, blue);
  position: relative;
  margin-bottom: 0.7em;
  border-radius: 0.6em;
}
section .box-contactanos span .item-facebook .content-facebook {
  display: block;
  transform: rotateY(360deg);
  color: white;
  text-align: center;
  font-family: "Commissioner", sans-serif;
}
section .box-contactanos span .item-facebook::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0.2em 0 black;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.6em;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  top: -0.2em;
  left: -0.2em;
}
section .box-contactanos span .item-facebook:active .content-facebook {
  color: dodgerblue;
}
section .box-service-client {
  background-image: linear-gradient(10deg, dodgerblue, steelblue);
  padding-bottom: 0.5em;
  position: relative;
}
section .box-service-client::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 35%;
  bottom: -6em;
  border-bottom: 0.4em ridge white;
  border-bottom-right-radius: 1em;
  transform: skewY(-20deg);
  background-color: dodgerblue;
  z-index: -1;
}
section .box-service-client .title-client {
  background-image: linear-gradient(3.5deg, navy, royalblue, skyblue);
  font-size: 2em;
  font-family: Commissioner, sans-serif;
  text-align: center;
  line-height: 1.5em;
  color: white;
  text-shadow: 0.03em 0.03em navy, -0.03em 0.03em navy, 0.03em -0.03em navy, -0.03em -0.03em navy;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-bottom: 0.05em solid white;
}
section .box-service-client p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
section .box-service-client span {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  color: white;
}
section .box-service-client span .box-salto {
  display: block;
  color: firebrick;
}
section .box-service-client span .item-asistencia {
  text-decoration: none;
  font-size: 0.9em;
  border: 0.1em solid black;
  width: 15em;
  margin-left: 0.3em;
  margin-top: 0.3em;
  display: inline-block;
  background: linear-gradient(rgba(117, 101, 101, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(-10deg, #fd2e2e, red);
  position: relative;
  margin-bottom: 0.7em;
  border-radius: 0.6em;
}
section .box-service-client span .item-asistencia .content-asistencia {
  display: block;
  transform: rotateY(360deg);
  color: white;
  text-align: center;
  font-family: "Commissioner", sans-serif;
}
section .box-service-client span .item-asistencia::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0.2em 0 black;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.6em;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  top: -0.2em;
  left: -0.2em;
}
section .box-service-client span .item-asistencia:active .content-asistencia {
  color: #fd2e2e;
}
section .box-service-client span .item-number {
  text-decoration: none;
  font-size: 0.9em;
  border: 0.1em solid black;
  width: 12em;
  margin-left: 0.3em;
  margin-top: 0.3em;
  display: inline-block;
  background: linear-gradient(rgba(117, 101, 101, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(-10deg, dodgerblue, lime);
  position: relative;
  margin-bottom: 0.7em;
  border-radius: 0.6em;
}
section .box-service-client span .item-number .content-number {
  display: block;
  transform: rotateY(360deg);
  color: black;
  text-align: center;
  font-family: "Commissioner", sans-serif;
}
section .box-service-client span .item-number::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0.2em 0 black;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.6em;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  top: -0.2em;
  left: -0.2em;
}
section .box-service-client span .item-number:active .content-number {
  color: dodgerblue;
}

/* FOOTER */
footer {
  margin-top: 10em;
  height: 7em;
  background: linear-gradient(rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 0.13)), linear-gradient(rgba(0, 0, 139, 0.5), rgba(0, 0, 139, 0.5)), linear-gradient(blue, blue);
  font-family: "Commissioner", sans-serif;
  font-size: 1.34em;
  color: white;
  text-align: center;
  position: relative;
}
footer .footer-curves-one {
  width: 100%;
  left: 0;
  transform: translate(0, -103%);
  position: absolute;
}
footer .footer-curves-two {
  transform: translate(0, -99%);
  width: 100%;
  position: absolute;
  left: 0;
}

/* CARRITO COMPRAS */
#box-cart-shop {
  background-image: linear-gradient(dodgerblue, cyan, steelblue);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate(-100%, 0);
  z-index: 2;
}
#box-cart-shop .title-carrito-shop {
  background-image: linear-gradient(3.5deg, navy, royalblue, skyblue);
  font-size: 2em;
  font-family: Commissioner, sans-serif;
  text-align: center;
  line-height: 1.5em;
  color: white;
  text-shadow: 0.03em 0.03em navy, -0.03em 0.03em navy, 0.03em -0.03em navy, -0.03em -0.03em navy;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-bottom: 0.05em solid white;
}
#box-cart-shop .box-items-shop {
  border: 0.1em solid black;
  display: flex;
}
#box-cart-shop .box-items-shop article {
  border: 0.1em solid yellow;
}
#box-cart-shop .box-items-shop article figure {
  width: 25%;
  height: 7em;
}
#box-cart-shop .box-items-shop article figure img {
  width: 100%;
  height: 100%;
}
#box-cart-shop .box-items-shop article button {
  border: none;
}
#box-cart-shop .close-cart-shop {
  font-size: 2.9em;
  line-height: 1em;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  outline: none;
  position: fixed;
  bottom: 0;
  border: 0.1em outset cyan;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(-50deg, dodgerblue, blue);
  color: #FFC107;
}
#box-cart-shop p {
  font-family: "Commisioner", sans-serif;
  font-size: 1.38em;
  color: black;
  position: absolute;
  bottom: 3.5em;
}
#box-cart-shop p a {
  color: white;
  -webkit-text-decoration: underline gray;
          text-decoration: underline gray;
}