<aside>
  <label for="categoria"><span class="name-content">CATEGORIA</span></label>
  <span class="arrow">
    <select name="categoria" id="category">
      <option value="TODOS">TODOS</option>
      <option value="JEANS">JEANS</option>
      <option value="PARKAS">PARKAS</option>
      <option value="SHORTS">SHORTS</option>
      <option value="CAMISAS">CAMISAS</option>
      <option value="PANTALONES">PANTALONES</option>
    </select>
  </span>
  <label for="precio"><span class="name-content">PRECIO</span></label>
  <span class="arrow">
    <select name="precio" id="2">
      <option value="">TODOS</option>
    </select>
  </span>
  <label for="talle"><span class="name-content">TALLE</span></label>
  <span class="arrow">
    <select name="talle" id="3">
      <option value="">TODOS</option>
    </select>
  </span>
  <label for="color"><span class="name-content">COLOR</span></label>
  <span class="arrow">
    <select name="color" id="4">
      <option value="">TODOS</option>
    </select>
  </span>
</aside>