<section>
  <div class="box-contactanos">
    <h2 class="title-contactanos">CONTACTANOS</h2>
    <p>Si quiere contactarnos por algun motivo, puede hacerlo
      de tres maneras diferentes, puede contactarnos por:<br />
      Correo Electronico, Whatsapp y nuestra pagina de facebook.
    </p>
    <ul>
      <li>Correo Electronico
        <%- include('icon-gmail.ejs')%>
      </li>
      <li>Whatsapp
        <%- include('icon-whatsapp.ejs')%>
      </li>
      <li>pagina de facebook
        <%- include('icon-facebook.ejs')%>
      </li>
    </ul>
    <span>Envienos un mensaje para contactarnos al siguiente correo electronico:
      <span class="box-salto"></span> 
      <a class="item-gmail" href="mailto:kevonsx@kevons.com?&subject=CONTACTANOS%20|%20KEVONS&body=Escriba%20el%20motivo%20por%20el%20cual%20nos%20quiere%20contactar:%0A"><span class="content-gmail">kevons@kevons.com</span></a>
    </span><br/>
    <span>Envienos un mensaje por whatsapp al siguiente numero:
      <span class="box-salto"> </span> 
    <a class="item-whatsapp" href="https://api.whatsapp.com/send?phone=541167081751&text=quiero%20contactarlos" target="_blank"><span class="content-whatsapp">+54 11-6708-1751</span></a></span><br/>
    <span>Envienos un mensaje a nuestra pagina de facebook:
      <span class="box-salto"></span> 
    <a class="item-facebook" href="https://www.facebook.com/kevonsmoda" target="_blank"><span class="content-facebook">Facebook/Kevons</span></a></span>
  </div>
  <div class="box-service-client"> 
    <h2 class="title-client">SERVICIO AL CLIENTE</h2>
    <p>Ante cualquier problema que tenga, con el pedido, con el metodo de pago, con el producto o
      cualquier otra cosa que le haya sucedio, no dude en enviar su problema a nuestro correo electronico
      para asistencia al cliente o puede llamarnos a nuestro numero, haremos todo lo posible para ayudarlo
      no dude en contactarnos ante cualquier duda o problema.
    </p>
    <span>CORREO ELECTRONICO PARA ASISTENCIA AL CLIENTE:
      <span class="box-salto"></span> 
      <a class="item-asistencia" href="mailto:asistencia@kevons.com?&subject=ASISTENCIA%20AL%20CLIENTE%20|%20KEVONS&body=Escriba%20el%20problema%20que%20tiene%20y%20responderemos%20lo%20mas%20pronto%20posible:%0A"><span class="content-asistencia">asistencia@kevons.com</span></a>
    </span><br/>
    <span>NUMERO PARA ASISTENCIA AL CLIENTE: 
      <span class="box-salto"></span>
      <a class="item-number" href="tel: 1167081751"><span class="content-number">+54 11-6708-1751</span></a>
    </span>
  </div>
</section>