<section>
  <h2 class="sub-title"><span>PRODUCTOS</span>-<span>CALIDAD</span>-<span>PRECIO</span></h2>
  <!--PRODUCTOS PRINCIPALES-->
  <% include product-principal.ejs %>
  <!--PRODUCTOS SECUNDARIOS-->
  <% include product-secundario.ejs %>
</section>